### Sets Removes the duplicates

In [1]:
l={1,2,3,4,55,666,7,7,8,9,0,10,11,11}
print(l)

{0, 1, 2, 3, 4, 7, 8, 9, 10, 11, 55, 666}

In [2]:
l1=set(range(2,500))
l2=set(range(400,600))

In [3]:
print(l1&l2)

{400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499}

In [4]:
l3=l1.intersection(l2)

print(l3)

{400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499}

### sets are use full to handle large datasets 
### sets are unorderes 
### sets don't have indexing
### sets elemens are hashable: can not mutable the elements like list and tuple

In [5]:
## unordere
l1=set([2,3,4,5,44,3,7,712,23])
print(l1)

{2, 3, 4, 5, 7, 712, 44, 23}

In [6]:
##
l1[2]=99

TypeError: 'set' object does not support item assignment

In [7]:
set(2,3,4,'hi',[1,2,3])

TypeError: set expected at most 1 argument, got 5

In [8]:
print(hash(2))

2

In [9]:
print(hash([2,3]))##lists are not hahsble

TypeError: unhashable type: 'list'

In [11]:
########## mutablityachived in sets by using add
l2={3,4,5,6,7,8,9,10,11}
l2.add(45)
l2

{3, 4, 5, 6, 7, 8, 9, 10, 11, 45}

In [12]:
l2.remove(4)

In [15]:
l2.remove(4)  ## if we try to remove the removed elements

KeyError: 4

In [14]:
l2.discard(4) ##if element not present no error

In [17]:
## union
l1={1,2,3,4}
l2={3,4,5,9,20}
l3=l1 | l2
print(l3)

{1, 2, 3, 4, 5, 9, 20}

In [18]:
## intersection with & symbol
l1={1,2,3,4}
l2={3,4,5,9,20}
l3=l1 & l2
l3

{3, 4}

In [19]:
## difference  ###returns teh first set differ elements
l1={1,2,3,4}
l2={3,4,5,9,20}
l3=l1 - l2
l3

{1, 2}

In [20]:
l1={1,2,3,4}  ##symmetric difference ## common elemens not returned here
l2={3,4,5,9,20}
l3=l1 ^ l2
l3

{1, 2, 5, 9, 20}

In [1]:
l1={1,2,3,4}  ##symmetric difference ## common elemens not returned here
l2={3,4,5,9,20}
l3={1,2,13,44}  ##symmetric difference ## common elemens not returned here
l4=l1 ^ l2 ^l3
l4

{5, 9, 13, 20, 44}

In [22]:
### what is the difference between symbol(|) union
## union
l1={1,2,3,4}
l2={3,4,5,9,20}
l3={3,5,6,7,}
l4=l1 | l2 |l3
print(l4)

{1, 2, 3, 4, 5, 6, 7, 9, 20}

In [23]:
l1={1,2,3,4}
l2={3,4,5,9,20}
l3={3,5,6,7,}
l4=l1 .union(l2,l3)
print(l4)

{1, 2, 3, 4, 5, 6, 7, 9, 20}

In [24]:
le={1,2,3,4,5}
l2={i**2 for i in le} 
print(l2)

{1, 4, 9, 16, 25}

#### frozenset is immmutable

In [26]:
#### frozenset is immmutable

## frozenset allow uniqueness only and unordered same as normal set
l1=frozenset([3,4,5,6])
l1.add(4)

AttributeError: 'frozenset' object has no attribute 'add'

In [28]:
## let see methods
l1=frozenset([3,4,5,6])
l2=frozenset([4,6,7,89])
l1.union(l2)

frozenset({3, 4, 5, 6, 7, 89})

In [29]:
## let see methods
l1=frozenset([3,4,5,6])
l2=frozenset([4,6,7,89])
l1.intersection(l2)

frozenset({4, 6})

In [3]:
############### why mutable data types like list,dict can not be the of sets ##they(list,dict) are not hashble thats why
l1={2,3,4,5,"hi"}
print(l1)
l2={2,3,4,5,"hi",[1,2,3]}
print(l2)

{'hi', 2, 3, 4, 5}

TypeError: unhashable type: 'list'

In [4]:
l3={2,3,4,5,"hi",{1,2,3}}   
l3

TypeError: unhashable type: 'set'

In [5]:
l4={2,3,4,5,"hi",{1:2,3:4}}
l4

TypeError: unhashable type: 'dict'

#### so dict,set , list are hashable types not allowed as elemets in sets

In [30]:
del l1

In [31]:
l1

NameError: name 'l1' is not defined

## dictionary

In [34]:
s={}
print(s)

{}

In [35]:
s={1:"hi",2:"hello",3:"say"}
s

{1: 'hi', 2: 'hello', 3: 'say'}

In [36]:
d=dict(name='lova',age=30)
print(d)

{'name': 'lova', 'age': 30}

In [37]:
d=dict([1,3,4,5])
print(d)

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [38]:
####list of tuples can pass through dictionary
d=[("name","sri"),("age",21),("grade",1)]
print(dict(d))

{'name': 'sri', 'age': 21, 'grade': 1}

In [39]:
## zip into dictionary
l1=[1,2,3]
l2=[4,5,6]
print(dict(zip(l1,l2)))

{1: 4, 2: 5, 3: 6}

## Key Features of a Python Dictionary
## Key-Value Pair Structure:

Each element in a dictionary consists of a unique key and its associated value.
Example:
python
Copy code
my_dict = {"name": "Alice", "age": 25}
## Keys Must Be Immutable:

Keys can be of any immutable type such as strings, numbers, or tuples.
Example:
python
Copy code
my_dict = {1: "one", (2, 3): "tuple_key"}
Values Can Be Any Type:

Values can be of any data type, including lists, other dictionaries, or objects.
Example:
python
Copy code
my_dict = {"numbers": [1, 2, 3], "nested_dict": {"a": 1}}
Unordered:

## Prior to Python 3.7, dictionaries were unordered.
## From Python 3.7 onward, dictionaries maintain insertion order.
Mutable:

## You can add, modify, or remove key-value pairs after the dictionary is created.
Efficient Lookups:

Dictionaries provide average-case O(1) time complexity for lookups using keys.

In [40]:
## dictionries are mutable
s={1:"hi",2:"hello",3:"say"}
s["age"] = 26  # Update existing value
s

{1: 'hi', 2: 'hello', 3: 'say', 'age': 26}

## unique keys

In [41]:
## same dictionry taking last value as first
s={1:"hi",2:"hello",3:"say",4:"age",1:"emi",1:"ArithmeticError"}
s

{1: 'ArithmeticError', 2: 'hello', 3: 'say', 4: 'age'}

In [42]:
s[1]

'ArithmeticError'

## Allowed Keys for Python Dictionaries
Immutable Data Types:

Keys must be immutable to ensure the dictionary can hash them and retrieve values efficiently.

Immutable data types include:

1)Strings: 'key1', 'hello'

2)Numbers: 1, 2.5, -3

3)Tuples (containing only immutable elements): (1, 2), ('a', 3)

4)Booleans: True, False

5)frozenset

Custom Objects (If They Are Hashable):

Custom objects can be used as keys if they implement the __hash__ method and are immutable.

## mutable objects not allowed as keys

1)list
2)sets
3) dictionaries

In [44]:
dict={1:[1,2],2:'hi',[1,2,3]:25}
dict

TypeError: unhashable type: 'list'

In [45]:
dict={1:[1,2],2:'hi',(1,2,3):25}
dict

{1: [1, 2], 2: 'hi', (1, 2, 3): 25}

### slicing and indexing not allowed

In [46]:
dict={1:[1,2],2:'hi',(1,2,3):25}
dict[:]

KeyError: slice(None, None, None)

In [47]:
dict={1:[1,2],'hi':'hi',(1,2,3):25}
dict

{1: [1, 2], 'hi': 'hi', (1, 2, 3): 25}

## methods

In [6]:
d={"name":"lova","age":23,"web":"browsing"}
for i in d:
    print(i)

name
age
web

In [7]:
for i in d.values():
    print(i)

lova
23
browsing

In [8]:
d.items()

dict_items([('name', 'lova'), ('age', 23), ('web', 'browsing')])

In [9]:
d.get("name") #####mention the available key

'lova'

In [10]:
d.get('gender') #gender not in the dictionary so it does not return any

In [11]:
d.get("lova") ##key only gives the values but not value

In [12]:
d.get('gender',"female") ##if we mention in the get method it returns

'female'

In [13]:
##way to add
d["gender"]="male"
d

{'name': 'lova', 'age': 23, 'web': 'browsing', 'gender': 'male'}

In [14]:
d['name']="sri"
d

{'name': 'sri', 'age': 23, 'web': 'browsing', 'gender': 'male'}

In [12]:
## for updating multiple values
d["hey","hi"]="welcome",2
d

{'name': 'lova',
 'age': 23,
 'web': 'browsing',
 'gender': 'male',
 ('hey', 'hi'): ('welcome', 2)}

In [14]:
# same as update
d.update({"hey":"welcome","hi":2})
d

{'name': 'lova',
 'age': 23,
 'web': 'browsing',
 'gender': 'male',
 ('hey', 'hi'): ('welcome', 2),
 'hey': 'welcome',
 'hi': 2}

In [15]:
d.pop()

TypeError: pop expected at least 1 argument, got 0

In [20]:
dd=d
dd.pop("name") ## need mention only key

'lova'

In [21]:
dd.pop(23)

KeyError: 23

In [16]:
d.popitem()

('hi', 2)

In [17]:
d

{'name': 'lova',
 'age': 23,
 'web': 'browsing',
 'gender': 'male',
 ('hey', 'hi'): ('welcome', 2),
 'hey': 'welcome'}

In [19]:
d2=d.copy()
d2

{'name': 'lova',
 'age': 23,
 'web': 'browsing',
 'gender': 'male',
 ('hey', 'hi'): ('welcome', 2),
 'hey': 'welcome'}

In [22]:
d2["place"]="hyderabad"
d2

{'name': 'lova',
 'age': 23,
 'web': 'browsing',
 'gender': 'male',
 ('hey', 'hi'): ('welcome', 2),
 'hey': 'welcome',
 'place': 'hyderabad'}

In [40]:
len(d2)

7

In [25]:
d   ## d not effeeted by copy of d2

{'age': 23,
 'web': 'browsing',
 'gender': 'male',
 ('hey', 'hi'): ('welcome', 2),
 'hey': 'welcome'}

In [26]:
d.clear()
d

{}

## operations and functions of dictionary

In [27]:
dict1={"name":"lova","age":30,"place":"hyderabaad"}
dict1

{'name': 'lova', 'age': 30, 'place': 'hyderabaad'}

In [28]:
"lova" in dict1 ##direct checking will gives the false

False

In [30]:
"lova" in dict1.values()

True

In [29]:
"name" in dict1

True

In [31]:
dict1={1:"hi",2:'hey'}
dict2={1:"hi",2:'hey'}
dict3={1:"hi",2:'hey'}
dict1==dict2

True

In [35]:
dict1={"a":1,"b":3}
dict1["a"]=10
dict1
dict1["a"]+=10 ## we can add the values to exist values using the keys +=
dict1

{'a': 20, 'b': 3}

In [36]:

######len ########
dict1

{'a': 20, 'b': 3}

In [37]:
len(dict1)

2

In [39]:
len(dd)

0

In [ ]:
######len
dict1={"name":"lova","age":30,"place":"hyderabaad"}
print(len(dict1))
print(sorted(dict1))
print(min(dict1))
print(max(dict1))
print(min(dict1.values()))###either it string or int not both
print(max(dict1.values()))

3
['age', 'name', 'place']
age
place

TypeError: '<' not supported between instances of 'int' and 'str'

In [45]:
print(any(dict1))
print(all(dict1))

True
True

In [52]:
dict3={"":"hye","age":"","place":""}

In [49]:
##if dict1 isdict3={"name":"","age":"","place":""} ##### any and all usesd for knowing the dict key or valuse exisi or not
print(any(dict3.values()))
print(all(dict3.values()))

False
False

### any()
Definition: Returns True if at least one of the values in the dictionary is truthy (non-empty, non-zero, etc.).
Use Case: Checks if there is any value in the dictionary that exists or is non-empty.

In [50]:
## any check for any one value truthy

dict1 = {"name": "Alice", "age": "", "place": ""}  # Only 'name' has a truthy value
print(any(dict1.values()))  # Output: True (because "Alice" is truthy)

dict2 = {"name": "", "age": "", "place": ""}  # All values are falsy (empty strings)
print(any(dict2.values()))  # Output: False

True
False

### all()
Definition: Returns True if all values in the dictionary are truthy.
Use Case: Checks if all values in the dictionary exist or are non-empty.

In [51]:


dict1 = {"name": "Alice", "age": 25, "place": "New York"}  # All values are truthy
print(all(dict1.values()))  # Output: True

dict2 = {"name": "Alice", "age": "", "place": "New York"}  # 'age' is falsy (empty string)
print(all(dict2.values()))  # Output: False

True
False

In [58]:
list(reversed(dict1))

['place', 'age', 'name']

## nested dictionary

In [77]:
de={"name":"suresh","age":23,
    "subject":{"maths":90,
               "english":40,"hindi":80,"telugu":100}

}

In [78]:
de['age']

23

In [79]:
de['name']

'suresh'

In [80]:
de['subject']['maths']

90

In [82]:
de['subject']['maths']=89

In [83]:
de

{'name': 'suresh',
 'age': 23,
 'subject': {'maths': 89, 'english': 40, 'hindi': 80, 'telugu': 100}}

### multiple students data

In [85]:
student_info={
"student1":{"name":"suresh","age":23,
    "subject":{"maths":90,
               "english":40,"hindi":80,"telugu":100}

},

   "student2":{"name":"amool","age":23,
    "subject":{"maths":93,
               "english":44,"hindi":83,"telugu":100}

}, 
   
}

In [86]:
student_info["student1"]

{'name': 'suresh',
 'age': 23,
 'subject': {'maths': 90, 'english': 40, 'hindi': 80, 'telugu': 100}}

In [87]:
student_info["student1"]['name']

'suresh'

In [89]:
student_info["student1"]['subject']['maths']

90

In [96]:
for student_id,details in student_info.items():
    print(student_id,details)
    print(details['name'])
    #print(details['age'])
    print(details['subject'])
    for subject,marks in details['subject'].items():
        print(f"{subject }:{marks}")

student1 {'name': 'suresh', 'age': 23, 'subject': {'maths': 90, 'english': 40, 'hindi': 80, 'telugu': 100}}
suresh
{'maths': 90, 'english': 40, 'hindi': 80, 'telugu': 100}
maths:90
english:40
hindi:80
telugu:100
student2 {'name': 'amool', 'age': 23, 'subject': {'maths': 93, 'english': 44, 'hindi': 83, 'telugu': 100}}
amool
{'maths': 93, 'english': 44, 'hindi': 83, 'telugu': 100}
maths:93
english:44
hindi:83
telugu:100

## dictionary comprehention

### new_dict = {key_expression: value_expression for item in iterable if condition}

In [97]:
squares={}
for i in range(10):
    squares[i]=i**2
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [98]:
squares={i:i**2 for i in range(10)} ##dict comprehention
squares

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [99]:
nums = [1, 2, 3, 4, 5]
even_squares = {num: num**2 for num in nums if num % 2 == 0}
print(even_squares)  # Output: {2: 4, 4: 16}

{2: 4, 4: 16}

In [100]:
## key :value reversing
original_dict = {"a": 1, "b": 2, "c": 3}
reversed_dict = {value: key for key, value in original_dict.items()}
print(reversed_dict)  # Output: {1: 'a', 2: 'b', 3: 'c'}

{1: 'a', 2: 'b', 3: 'c'}

In [101]:
coordinates = {f"({x}, {y})": x * y for x in range(3) for y in range(3)}
print(coordinates)
# Output: {'(0, 0)': 0, '(0, 1)': 0, '(0, 2)': 0, '(1, 0)': 0, '(1, 1)': 1, '(1, 2)': 2, '(2, 0)': 0, '(2, 1)': 2, '(2, 2)': 4}

{'(0, 0)': 0, '(0, 1)': 0, '(0, 2)': 0, '(1, 0)': 0, '(1, 1)': 1, '(1, 2)': 2, '(2, 0)': 0, '(2, 1)': 2, '(2, 2)': 4}

In [103]:
original={"aa":2,"apple":4 ,"pine apple":7}
larger={y:x for y,x in original.items() if x >2}
larger

{'apple': 4, 'pine apple': 7}

In [105]:
fruits=["apple" ,"banana" ,"pine apple"]
fruits={ i.upper() :len(i ) for i in fruits}
fruits

{'APPLE': 5, 'BANANA': 6, 'PINE APPLE': 10}

### count the frequency of characters in string

In [106]:
strn="missisipi"
count_char={}
for i in strn:
    count_char[i]=count_char.get(i,0)+1
print(count_char)

{'m': 1, 'i': 4, 's': 3, 'p': 1}

### invert dictionary

In [107]:
dic={"a":1,"b":2,"c":3}
inv_dic={v:k for k,v in dic.items()}
inv_dic

{1: 'a', 2: 'b', 3: 'c'}

### remove keys with empty values

In [108]:
dic={"a":1,"b":2,"c":'',"d":None}
removes={k:v for k,v in dic.items() if v}
removes

{'a': 1, 'b': 2}

### check the one dictionary is subset of second dictionaary

In [121]:
def check(dic1,dic2):
    return all(i in dict2.items() for i in dict1.items())


dic1={"a":1,"b":2}
dict2={"a":1,"b":4,"c":3}
check(dic1,dic2)

False